body{
    margin: 0%;
    overflow: auto;
}
 
.line{
    border-left: 2px solid darkgray;
    height: 100%;
    position: absolute;
    left: 37%;
    margin-left: -3px;
}
.tob{
    position: relative;
    background-color: darkgray;
    padding-left: 45%;
}
img{
    position: relative;
    border-radius: 50%;
    top: -75px;
    margin-left: 35px;
}
.bout{
    position: relative;
    bottom: 95px;
}
.bout h3{
    background-color: darkgray;
    width: 35%;
    text-align: center;
}
.bout p{
    width: 35%;
}
.lan{
    position: relative;
    bottom: 95px;
}
.lan h3{
    background-color: darkgray;
    width: 35%;
    text-align: center;
}
.lan span {
    color: #4e4e4e;
}
.lan .progress{
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
    width: 35%;
}
.lan .progress .progress-bar {
    height: 0.7rem;
    background-color: #0078ff;
}
.hob{
    position: relative;
    bottom: 95px;
}
.hob h3{
    background-color: darkgray;
    width: 35%;
    text-align: center;
}
.hob .fa{
    position: relative;
    color: #0078ff;
    border: 1px solid darkgray;
    background-color: darkgray;
    border-radius: 50%;
    margin-right: 100px;
    margin-left: 35px;
    padding: 7px;
    font-size: 30px;
}
.hob .text h4 {
    position: relative;
    display: inline;
    margin-right: 100px;
    margin-left: 35px;
    color: #0078ff;
    bottom: -3px;
}
.con{
    position: relative;
    bottom: 110px;
}
.con h3{
    background-color: darkgray;
    width: 35%;
    text-align: center;
}
.con i{
    position: relative;
    display: block;
    color: #0078ff;
    font-size: 24px;
}

.con .co::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    margin-left: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
}
.con .co{
    padding: 0 0 20px 20px;
    margin-top: -2px;
    margin-left: 50px;
    border-left: 2px solid #1f5297;
    position: relative;
}






@media only screen and (max-width: 1200px) {
    [class*="col-"] {
        width: 100%;
    }
}